
.header {
	background-color: blue;
	width: 100%;
	height: 50px;
}

.container {
	background-color: gray;
	width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: 90% 10%;
}

.table_div {
	width: 100%;
}

.buttons_div {
	width: 100%;
}

.tests {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.tests td, .tests th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tests tr:nth-child(even){background-color: #f2f2f2;}

.tests tr:hover {background-color: #ddd;}

.tests th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}